.subscribe-button {
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    transition: opacity .15s, color .15s;
  }
  .subscribe-button:hover {
    opacity: .8;
  }
  .subscribe-button:active {
    opacity: .4;
  }
  .join-button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 106, 237);
    border-color: rgb(0,0,255);
    border-width: 1.3px;
    border-style: solid;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color .15s, color .15s;
    margin-right: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
    vertical-align: top;
  }
  .join-button:hover {
    background-color: rgb(0,106,237);
    color: white;
    border-color: rgb(0,106,237);
  }
  .join-button:active {
    background-color: rgb(0,106,237);
    color: white;
    opacity: .5;
  }
  .tweet-button {
    background-color: rgb(29, 155, 240);
    border: none;
    color: white;
    height: 36px;
    width: 72px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 900;
    transition: box-shadow .15s, opacity .15s;
  }
  .tweet-button:hover {
    box-shadow: 0px 4px 6px rgba(0,0,0,.2);
  }
  .tweet-button:active {
    box-shadow: 0px 4px 6px rgba(0,0,0,.2);
    opacity: .65;
  }